---
import "../../env.d.ts"

type WorkExperice = ResumeJson["workExperiences"][number]

interface Props {
	workExperience: WorkExperice
}
const { workExperience } = Astro.props
---

<article class="mb-6">
	<h6 class="text-sm font-semibold mb-2">
		<span>{workExperience.assignedPosition}</span>
	</h6>
	<p class="flex items-center justify-between">
		<a target="_blank" href={workExperience.companyUrl} class="group hover:text-blue-600">
			<span>{workExperience.companyName}</span>
			<i class="fa-solid fa-link opacity-0 group-hover:opacity-50"></i>
		</a>

		<span>{workExperience.fromDate} - {workExperience.toDate}</span>
	</p>

	<ul class="list-disc">
		{workExperience.descriptions.map((d) => <li>{d}</li>)}
	</ul>
</article>
